.bg {
    background: url("../img/Nismo-Z-Front7Eigths-01-X5.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;   
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
